section#home {
  width: 100%;
  margin-bottom: 15vh;
  @include center;
  flex-direction: column;

  & h1 {
    font-size: 2.5rem;
  }
  & p {
    margin: 1rem 2rem 3rem 2rem;
    text-align: center;
    line-height: 1.5em;
    white-space: pre-line;
    color: rgba($primary, .75);
  }
}

nav.actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a.primary {
  @include button;
  background: $accent;
  color: $primary;
}

a.secondary {
  @include button;
  background: transparent;
  color: $accent;
  border: 1px solid $accent;
}