section#welcome {
  width: 100%;
  margin-bottom: 15vh;
  @include center;
  flex-direction: column;

  & h1 {
    font-size: 2.5rem;
    @include fade(2s);
  }
  & p {
    margin: 1rem 2rem 3rem 2rem;
    text-align: center;
    line-height: 1.5em;
    white-space: pre-line;
    color: rgba($primary, .75);
    @include fade(2s);
  }
}

nav.actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a.primary {
  @include button;
  color: $primary;
  background: $accent;
  @include fade(1s, 1s);
  animation-fill-mode: both;
}

a.secondary {
  @include button;
  border: 2px solid $accent;
  @include fade(1s, 1.5s);
  animation-fill-mode: both;
}