@keyframes slide {
  0% {
    transform: translateX(-8rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

section#register-complete {
  width: 100%;
  padding: 0 2rem;
  color: $primary;
  animation: slide 1s ease;

  & header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;

    & h1 {
      flex: 1;
      font-size: 2.5rem;
      font-weight: 600;
    }

    & svg {
      height: 100%;
      margin-left: .5rem;
      flex: 0 1 5rem;
      fill: none;
      stroke: $primary;
      animation: slide 1s ease .25s;
      animation-fill-mode: both;
    }
  }
}