section#register-complete {
  width: 100%;
  padding: 0 2rem;
  color: $primary;


  & header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;

    & h1 {
      flex: 1;
      font-size: 2.5rem;
      font-weight: 600;
    }

    & svg {
      height: 100%;
      margin-left: .5rem;
      flex: 0 1 5rem;
      fill: none;
      stroke: $primary;
    }
  }
}