form {
  width: calc(100% - 4rem);
  padding: 1.5rem;
  background: $primary;
  color: $secondary;
  border-radius: .5rem;

  & label {
    display: inline;
    font-size: .75rem;
    font-weight: 600;
    cursor: pointer;
  }
  & span {
    font-size: .75rem;
    &[id^="form-info"] {
      color: $cancel;
      visibility: hidden;
    }
  }
}

form header {
  margin-bottom: 1rem;
  & h1 {
    font-size: 1.5rem;
    color: $secondary;
  }
}

form .text-field {
  position: relative;
  & input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 2.5em;
    padding-left: .25rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgba($secondary, .5);
  }
  & input::placeholder {
    color: rgba($secondary, .5);
  }

  & input:focus {
    outline: none;
    background: rgba($secondary, .10);
    border-color: $accent;
  }
  
  & input:not(:placeholder-shown):invalid {
    background: rgba($cancel, .10);
    border-color: $cancel;
  }
}

section.buttons {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    width: 100%;
    height: 2em;
    color: $accent;
    background: transparent;
    cursor: pointer;

    &[type="submit"] {
      margin-bottom: .5rem;
      color: $primary;
      background: $accent;
      &[disabled] {
        filter: grayscale(.75);
      }
    }
  }
  & a {
    @include button;
    width: 100%;
    height: 2em;
  }
}

a.back {
  margin-top: 2rem;
}

// Password reveal button
$icon-size: 1.5rem;
button#password-reveal {
  @include button-icon;
  width: $icon-size;
  height: $icon-size;
  position: absolute;
  top: 1.75rem;
  right: .5rem;
  opacity: .25;
  & input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  &:hover {
    opacity: .75;
  }
}

svg#icon-eye {
  & path {
    fill: $secondary;
    stroke: $secondary;
  }
  & circle {
    fill: $secondary;
    stroke: $primary;
  }
  & line {
    fill: none;
    stroke: $secondary;
  }
}

svg.reveal {
  opacity: 1;
  & line {
    opacity: 0;
  }
}