<form action="" id="recovery-form">
  <header>
    <h1>Recupera tu contraseña</h1>
    <span>Recuerda no poner información sensible.</span>
  </header>

  <div class="text-field">
    <label for="recovery-email">Email</label>
    <input type="email" id="recovery-email" name="recovery-email" placeholder="Escribe tu email"
      spellcheck="false" required autocomplete="email">
    <span id="form-info-email">Debe ingresar un formato de email válido</span>
  </div>

  <section class="buttons">
    <button type="submit" disabled>Solicitar cambio</button>
  </section>
</form>

<a href="/login" class="redirect">Volver al login</a>