<form action="" id="login-form">
  <header>
    <h1>Ingresá a tu cuenta</h1>
    <span>Recuerda no poner información sensible.</span>
  </header>

  <div class="text-field">
    <label for="login-email">Email</label>
    <input type="email" id="login-email" name="login-email" placeholder="Escribe tu email" required autocomplete="off">
    <span id="form-info-email">Información del email</span>
  </div>

  <div class="text-field">
    <label for="login-password">Contraseña</label>
    <input type="password" id="login-password" name="login-password" placeholder="Escribe tu contraseña" required>
    <span id="form-info-password">Información de la contraseña</span>
  </div>

  <section class="extra">
    <div class="keepSession">
      <input type="checkbox" id="login-keepSession">
      <label for="login-keepSession">Mantener sesión</label>
    </div>

    <a href="#/new-password">¿Olvidaste tu contraseña?</a>
  </section>

  <section class="buttons">
    <button type="submit">Ingresar</button>
    <button><a href="#/register">Registrarse</a></button>
  </section>
</form>

<a href="#/" class="back">Volver al inicio</a>